/* Give your page a fun background color */
body {background-color: tan;}
/* Make the header and footer a different color from the background */
header {
  background-color: maroon;
}
footer {
  background-color: maroon;
  font-style: italic;
}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center}
p {text-align: center}
/* Make your p tag a different color and italic */
p {color: grey}
/* Put a border around your image */
img {
  border: 5px solid #555
}
/* Change the font-family of your list */
ul {
  font-family: "lucida console", "courier new", monospace;
}
